.entity {
	height: 36px;
	width: 36px;,
}

.wall {
	background-image: url("wall.gif");
}

.goal {
	background-image: url("goal.gif");
}

.player {
	background-image: url("player.gif");
}

.block {
	background-image: url("block.gif");
}

body {
	background: rgb(42,42,42);
}

#wrapper {
	position: absolute;
	width: 50%;
	left: 30%;
}

#winlabel {
	font-family: Verdana, Arial;
	color:red;
	font-size:82px;
	position: absolute;
	top:45%;
	left:10%;
}